.ipynb_checkpoints
plots
codeExamples
Assignment2-Sample-Repot.xlsx
Binarisation.xlsx
binning.xlsx
data.csv
discritization.xlsx
ida_a2_24856270.xls
ida_a2_24856270.xlsx
normalization.xlsx
Week4-Python-Updated.ipynb